---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="toc.js" defer></script>
</head>
<body>
<nav id="toc">
</nav>
<main>
  <!--<section id="readme">
  {% capture readme_content %}{% include_relative README.md %}{% endcapture %}
  {{ readme_content | markdownify }}
  </section>-->
  <section id="readme">
    {%- comment -%}
    {%- endcomment -%}
    {% capture raw %}{% include_relative README.md %}{% endcapture %}
    {% assign parts = raw | split: "_________________________________________________________________________________________________________________________________________________________________" %}
    {%- if parts.size > 1 -%}
      {% assign to_render = parts[1] %}
    {%- else -%}
      {% assign to_render = raw %}
    {%- endif -%}
    {{ to_render | markdownify }}
  </section>
</main>
</body>
</html>

